/* MAIN CONTAINER CONTAINING CHATS */
#main {
    margin-right: 20%;
}

/* FIX CHANNEL HEADING TO TOP */
#channel-heading {
    margin: 0;
}

#favourite-icon {
    margin-right: 10px;
    margin-top: 2px;
    font-size: 0.6em;
}

/* LIMIT MESSAGES CONTAINER TO FIXED HEIGHT ALLOWING SCROLLING OF MESSAGES */
#messages-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 75vh;
    overflow: scroll;
}

#typing {
    color: blue;
}

/* SIDEBAR CONTAINING ONLINE MEMBERS */
#members-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
}

/* CHANGE FONT SIZE OF MEMBERS HEADING */
#members-heading {
    font-size: 2em;
}