/* MAIN CONTAINER CONTAINING CHATS */
#main {
    padding-right: 20%;
}

/* Remove Padding on smaller Screens */
@media only screen and (max-width: 992px) {
    #main {
        padding-right: 0;
    }
}

/* FIX CHANNEL HEADING TO TOP */
#channel-heading {
    margin: 0;
}

#members-collapse {
    margin-right: 5px;
    margin-top: 2px;
    font-size: 2rem;
}

#favourite-icon {
    margin-right: 10px;
    margin-top: 2px;
    font-size: 0.6em;
}

/* LIMIT MESSAGES CONTAINER TO FIXED HEIGHT ALLOWING SCROLLING OF MESSAGES */
#messages-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 75vh;
    overflow: scroll;
}

#typing {
    color: blue;
}

/* SIDEBAR CONTAINING ONLINE MEMBERS */
#members-sidebar {
    width: 20% !important;
    height: 100vh;
}

/* Decrease Line-height between members */
#members-sidebar li {
    line-height: inherit;
}

/* Increase Width on Smaller Screens */
@media only screen and (max-width: 992px) {
    #members-sidebar {
        width:50% !important;
    }
}

/* CHANGE FONT SIZE OF MEMBERS HEADING */
#members-heading {
    font-size: 2em;
}