/* FIX CHAT HEADING TO TOP */
#chat-heading {
    margin: 0;
}

/* LIMIT MESSAGES CONTAINER TO FIXED HEIGHT ALLOWING SCROLLING OF MESSAGES */
#messages-container {
    height: 75vh;
    word-wrap: break-word;
    overflow-y: scroll;
}