<!doctype html>
<html lang="en">
<head>

    <% include partials/header %>

    <title><%= title %></title>

    <!-- Custom CSS: common.css -->
    <link rel="stylesheet" href="/css/common.css">
    <!-- Custom CSS: chats.css -->
    <link rel="stylesheet" href="/css/channel.css">

    <!-- Socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Custom JS: common.js -->
    <script src="/js/common.js"></script>
    <!-- Custom JS: chat.js -->
    <script src="/js/channel.js"></script>


</head>
<body>

<% include partials/sidebar %>

<!-- MAIN CHANNEL PAGE HERE -->
<div id="main">
    <!-- Channel Heading: Channel Name -->
    <div class="green lighten-3" id="channel-heading">
        <h3 class="center" id="channel-heading">
            <!-- HAMBURGER FOR SLIDE-OUT PROFILE SIDENAV -->
            <a href="#" id="profile-collapse" data-activates="profile-sidebar" class="button-collapse hide-on-large-only left">
                <i class="fa fa-bars"></i>
            </a>

            <%= title %>

            <!-- ICON FOR SLIDE-OUT MEMBERS SIDENAV -->
            <a href="#" id="members-collapse" data-activates="members-sidebar" class="button-collapse hide-on-large-only right">
                <i class="fa fa-users"></i>
            </a>

            <!-- FAVOURITE ICON -->
            <% if(favourite) { %>
            <span id="favourite-icon" class="yellow-text text-accent-4 right"><i class="fa fa-star"></i></span>
            <% } else { %>
            <span id="favourite-icon" class="white-text right"><i class="fa fa-star"></i></span>
            <% } %>
        </h3>
    </div>

    <!-- Chat Box -->
    <div id="chat-box">
        <!-- Message Display Container -->
        <div class="container" id="messages-container">
            <ul id="messages-list">

            </ul>
        </div>
        <!-- Input Container: Chat input and Send button -->
        <div id="message-box" class="container">
            <div class="row">
                <!-- Input Box -->
                <div class="col s9">
                    <input id="input" type="text">
                </div>
                <!-- Send Button -->
                <div class="col s3">
                    <button id="send-button" class="btn btn-block">Send</button>
                </div>
            </div>
        </div>
    </div>  <!-- End of Chat Box -->

</div>  <!-- END OF MAIN PAGE -->


<!-- RIGHT SIDEBAR CONTAINING ONLINE MEMBERS -->
<div id="members-sidebar" class="side-nav fixed grey lighten-2">
    <!-- Members Heading -->
    <div id="members-heading" class="green lighten-1">
        <div class="center">
            Online Members
        </div>
    </div>
    <!-- Container Containing Online Members -->
    <div class="container">
        <ul id="members-list" class="collection">
            <!-- Members to be added here from channel.js -->
        </ul>

    </div>  <!-- END OF SIDEBAR CONTAINER -->
</div>  <!-- END OF USER DATA SIDEBAR -->


</body>
</html>