<!doctype html>
<html lang="en">
<head>

    <% include partials/header %>

    <title>Join Channel</title>

    <!-- Custom CSS: common.css -->
    <link rel="stylesheet" href="/css/common.css">

</head>

<body>

<% include partials/sidebar %>

<!-- MAIN JOIN CHANNEL PAGE HERE -->
<div id="main">
    <!-- Chats Heading -->
    <div class="container green lighten-3" id="round-heading">
        <h2 class="center">Join new Channel</h2>
    </div>

    <!-- Search Container -->
    <div class="container">
        <form action="/channels" method="POST">
            <div class="row">
                <!-- Input Box -->
                <div class="col s10">
                    <input id="channel-search" name="channelName" class="input-field" type="text" placeholder="Search By Channel Name">
                </div>
                <!-- Search Button -->
                <div class="col s2">
                    <button class="btn">Search</button>
                </div>
            </div>
        </form>
    </div>  <!-- End of Search Container -->

</div>  <!-- END OF MAIN PAGE -->

</body>
</html>