<!doctype html>
<html lang="en">
<head>

    <% include partials/header %>

    <title>Join Group</title>

    <!-- Custom CSS: common.css -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- Custom JS: common.js -->
    <script src="/js/common.js"></script>

</head>

<body>

<% include partials/sidebar %>

<!-- MAIN JOIN GROUP PAGE HERE -->
<div id="main">
    <!-- Chats Heading -->
    <div class="container green lighten-3" id="round-heading">
        <h2 class="center">
            <!-- HAMBURGER FOR SLIDE-OUT PROFILE SIDENAV -->
            <a href="#" id="profile-collapse" data-activates="profile-sidebar" class="button-collapse hide-on-large-only left">
                <i class="fa fa-bars"></i>
            </a>
            Join new Group
        </h2>
    </div>

    <!-- Search Container -->
    <div class="container">
        <!-- Success Alerts -->
        <div class="ui positive message">
            <p>SUCCESS</p>
        </div>
        <!-- Error Alerts -->
        <div class="ui error message">
            <p>ERROR</p>
        </div>

        <form action="/groups" method="POST">
            <div class="row">
                <!-- Input Box -->
                <div class="col s10">
                    <input id="group-search" name="groupName" class="input-field" type="text" placeholder="Search By Group Name">
                </div>
                <!-- Search Button -->
                <div class="col s2">
                    <button class="btn">Search</button>
                </div>
            </div>
        </form>
    </div>  <!-- End of Search Container -->

</div>  <!-- END OF MAIN PAGE -->

</body>
</html>