<!doctype html>
<html lang="en">
<head>

    <% include partials/header %>

    <title>Create New Group</title>

    <!-- Custom CSS: common.css -->
    <link rel="stylesheet" href="/css/common.css">

</head>

<body>

<% include partials/sidebar %>

<!-- MAIN NEW GROUP PAGE HERE -->
<div id="main">
    <!-- Create new Group Heading -->
    <div class="container green lighten-3" id="round-heading">
        <h2 class="center">Create new Group</h2>
    </div>

    <!-- New Group Form Container -->
    <div class="container">
        <form action="/groups/new" method="POST">
            <div class="row">
                <!-- Input Box -->
                <div class="col s10">
                    <input id="group-name" name="groupName" class="input-field" type="text" placeholder="Enter Group Name">
                </div>
                <!-- Create Button -->
                <div class="col s2">
                    <button class="btn">Create</button>
                </div>
            </div>
        </form>
    </div>  <!-- End of Create Group Container -->

</div>  <!-- END OF MAIN PAGE -->

</body>
</html>